:where(*) {
  cursor: default;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

* {
  font-size: inherit;
  line-height: inherit;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

html {
  background-image: url("/space.avif"), radial-gradient(rgba(1, 0, 32, 0.75), rgb(1, 0, 32));
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #010020;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'PT Serif Caption', serif;
  color: #dedede;
  font-size: 1em;
  word-spacing: 0.2em;
  line-height: 2em;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

input {
  cursor: text;
}

input:disabled {
  opacity: 1; /* for iOS */
}

button {
  font-family: inherit;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding: 1vw;
  font-size: 1.5vw;
  line-height: 1.5vw;
  color: #dedede;
  background-color: rgba(56, 117, 250, 0.5);
  border: 0.1vw solid rgba(51, 226, 230, 0.5);
  border-radius: 1vw;
}

button:hover,
button:active {
  color: rgba(51, 226, 230, 0.9);
  background-color: rgba(56, 117, 250, 0.9);
  border-color: rgba(51, 226, 230, 0.9);
  filter: drop-shadow(0 0 0.5vw rgba(51, 226, 230, 0.5));
  text-shadow: 0 0 0.25vw rgba(1, 0, 32, 0.5);
  transform: scale(1.05);
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  opacity: 0.5;
  color: #dedede;
  border-color: rgba(51, 226, 230, 0.5);
  background-color: rgba(56, 117, 250, 0.5);
  filter: none;
  transform: none;
  cursor: not-allowed;
}

button img {
  height: 2vw;
  width: auto;
  cursor: inherit;
  filter: drop-shadow(0 0 0.5vw rgba(1, 0, 32, 0.5));
  border-radius: 10%;
}

button svg {
  height: 2vw;
  width: 2vw;
  cursor: inherit !important;
}

button *,
[role="button"] * {
  cursor: inherit;
}

a {
  color: rgba(51, 226, 230, 0.9);
  text-decoration: none;
  cursor: pointer;
}

a * {
  cursor: inherit;
}

a:hover,
a:active {
  color: rgb(51, 226, 230);
  text-decoration: underline;
}

.blur {
  -webkit-backdrop-filter: blur(5rem);
  backdrop-filter: blur(5rem);
}

[aria-disabled="true"] {
  opacity: 0.25;
}

strong, b, h2 {
  color: white;
  text-shadow: 0 0 0.1rem rgba(51, 226, 230, 0.5);
}

.general-info b {
  color: rgba(51, 226, 230, 0.9);
}

i {
  font-style: italic;
}

hr {
  border: 0.05rem solid #dedede;
  margin-block: 1vw;
}

h2 {
  color: white;
  font-size: 1.5vw;
  line-height: 1.5vw;
  margin-block: 1.5vw;
}

iframe {
  width: 50vw;
  height: 25vw;
  border-radius: 1vw;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 1em;
    word-spacing: 0.2em;
  }

  button {
    font-size: 1em;
    line-height: 1.75em;
    padding: 0.25em 1em;
    border-radius: 0.5em;
    gap: 0.5em;
  }

  button img {
    height: 1.25em;
  }

  button svg {
    height: 1.25em;
    width: 1.25em;
  }

  hr {
    margin-block: 1em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-block: 0.5em;
  }

  iframe {
    width: 95vw;
    height: 45vw;
    border-radius: 1em;
  }
}