:where(
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    /* ol,
    ul, */
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video
  ) {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}

:where(
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section
  ) {
  display: block;
}

:where(body) {
  line-height: 1;
}

/* :where(ol, ul) {
  list-style: none;
} */

:where(blockquote, q) {
  quotes: none;
}

:where(blockquote:before, blockquote:after, q:before, q:after) {
  content: "";
  content: none;
}

:where(img) {
  max-width: 100%;
}

:where(button) {
  border: none;
  cursor: pointer;
}

:where(dialog) {
  padding: 0;
  outline: none;
}


/* General */
* {
  font-size: inherit;
  line-height: inherit;
}

html {
  background-image: url("/space.avif"),
  radial-gradient(rgba(1, 0, 32, 0.75), rgb(1, 0, 32));
  background-color: #010020;
  box-sizing: border-box;
  font-family: "PT Serif Caption", serif;
  color: #dedede;
  font-size: 1rem;
  word-spacing: 0.2rem;
  line-height: 1.75;
  overflow: hidden;
}

*::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  padding: 0.5vw;
  font-size: 1.5vw;
  background-color: rgba(56, 117, 250, 0.5);
  border: 0.1vw solid rgba(51, 226, 230, 0.5);
  border-radius: 0.5vw;
  transition: all 0.15s cubic-bezier(0.34, 1.56, 0.64, 1);
}

button:hover,
button:active {
  background-color: rgba(56, 117, 250, 0.9);
  border-color: rgba(51, 226, 230, 0.9);
  filter: drop-shadow(0 0 0.5vw rgba(51, 226, 230, 0.5));
  text-shadow: 0 0 0.5vw rgba(1, 0, 32, 0.5);
  transform: scale(1.05);
}

a {
  color: #33E2E6;
}

.blur {
  -webkit-backdrop-filter: blur(5rem);
  backdrop-filter: blur(5rem);
}

[aria-disabled="true"] {
  opacity: 0.25;
}

strong, b, h2 {
  color: white;
  text-shadow: 0 0 0.1rem rgba(51, 226, 230, 0.5);
}

.general-info b {
  color: rgba(51, 226, 230, 0.9);
}

i {
  font-style: italic;
}

hr {
  border: 0.05rem solid #dedede;
  margin-block: 1vw;
}

h2 {
  color: white;
  font-size: 1.5vw;
  line-height: 1.5vw;
  margin-block: 1.5vw;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 1em;
    word-spacing: 0.2em;
  }

  button {
    border-radius: 1em;
    padding: 0.5em;
  }

  hr {
    margin-block: 1em;
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.5em;
    margin-block: 0.5em;
  }
}