:where(svg) {
  width: 2vw;
  height: 2vw;
}

svg {
  outline: none;
}

svg * {
  cursor: inherit;
}

.back-arrow-svg,
.profile-svg,
.close-svg,
.copy-svg,
.delete-svg,
.play-svg,
.reset-svg,
.option-selector-svg,
.quit-svg,
.step-arrow-svg,
.search-svg,
.voice-svg,
.volume-svg,
.replay-svg,
.sort-svg,
.door-svg,
.fullscreen-svg,
.eye-svg,
.star-svg,
.refresh-svg,
.contract-svg,
.location-svg,
.warning-svg,
.chain-svg,
.gradient-arrow-svg,
.calendar-svg,
.death-svg {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.back-arrow-svg:hover,
.profile-svg:hover,
.reset-svg:hover,
.quit-svg:hover,
.step-arrow-svg:hover,
.voice-svg:hover,
.volume-svg:hover,
.replay-svg:hover,
.eye-svg:hover,
.star-svg:hover,
.refresh-svg:hover,
.warning-svg:hover,
.chain-svg:hover {
  fill: rgb(51, 226, 230);
  transform: scale(1.05);
}
.reset-svg:hover,
.search-svg:hover,
.voice-svg:hover,
.volume-svg:hover,
.replay-svg:hover,
.refresh-svg:hover,
.chain-svg:hover {
  stroke: rgb(51, 226, 230);
}

.close-svg:hover,
.close-svg:active {
  transform: scale(1.2);
  stroke: rgb(255, 60, 64);
}

.contract-svg:hover {
  transform: scale(1.1);
}

.warning-svg:hover {
  fill: rgb(255, 60, 64);
  stroke: rgb(255, 60, 64);
}

.back-arrow-svg-mask,
.profile-svg-mask,
.quit-svg-mask,
.step-arrow-svg-mask {
  transition: all 0.3s ease-in-out;
}

.star-svg,
.copy-svg,
.gradient-arrow-svg {
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.star-svg:hover {
  transform: scale(1.1);
}

.gradient-arrow-svg-path {
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.gradient-arrow-svg:active {
  transform: translateY(10%);
}
.gradient-arrow-svg * {
  pointer-events: none;
}

.eye-svg,
.calendar-svg {
  fill: none !important;
}

.reset-svg,
.delete-svg-circle,
.play-svg-circle,
.refresh-svg * {
  transition: all 0.6s ease-in-out !important;
}
.reset-svg:hover {
  transform: rotate(380deg);
}

.copy-svg:hover,
.eye-svg:hover {
  opacity: 1;
}
.copy-svg:active {
  stroke: rgba(0, 185, 55, 0.5);
  fill: rgb(0, 185, 55);
  stroke-width: 7.5;
  transition-duration: 0.15s;
}
#copy-checkmark {
  stroke-width: 15;
}

.option-selector-icon {
  cursor: inherit;
  transition: inherit;
}

.delete-svg,
.play-svg {
  border-radius: 50%;
}
.delete-svg *,
.play-svg * {
  transition: all 0.3s ease-in-out;
}

.voice-svg *,
.replay-svg *,
.sort-svg *,
.door-svg *,
.fullscreen-svg *,
.eye-svg *,
.volume-svg *,
.refresh-svg *,
.contract-svg *,
.location-svg *,
.warning-svg *,
.chain-svg * {
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
}

.chain-svg * {
  transition: stroke-width 0.3s ease-in-out;
}

.loading-svg {
  border-radius: 50%;
  cursor: progress;
  transition: all 0.3s ease-in-out;
  animation:
    pathStroke 3.75s infinite ease-in-out,
    pathRotate 7.5s infinite cubic-bezier(1, 0.5, 0, 0.5);
}
.loading-svg:hover {
  filter: drop-shadow(0 0 0.25vw rgba(51, 226, 230, 0.75));
}

@keyframes pathStroke {
  0% {
    stroke-dashoffset: -288.5;
    stroke: rgb(56, 117, 250);
    opacity: 0;
  }
  40%,
  70% {
    stroke-dashoffset: 0;
    stroke: rgb(51, 226, 230);
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 288.5;
    stroke: rgb(56, 117, 250);
    opacity: 0;
  }
}

@keyframes pathRotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-540deg);
  }
  100% {
    transform: rotate(-1080deg);
  }
}

@media screen and (max-width: 600px) {
  :where(svg) {
    width: 1.25em;
    height: 1.25em;
  }  
}